/* Inizio Header */
#logo-header{
    height: 150px;
    background-color: rgb(8, 154, 212);
    background-image:url("../img/pattern.png");
    background-repeat: repeat;
    position: relative;
}

#img-logo{
    height: 75px;
    background-position: bottom;
    position: absolute;
    bottom: 10px;
    left: 0%;
}

.h1{
    font-size: 50px;
    margin-bottom: 0%;
}


.subtitle{
    color: grey;
    font-size: 20px;
    font-weight: bold;
}

#link-style{
    text-decoration: none;
    color: rgb(90, 196, 238);
}
#subtitle-date{
    font-size:12px;
    color: grey;
}

.img-tim{
    margin-top: 20px;
}

.top-paragraph{
    margin : 0%;
    font-size: 14px;
}
/* Fine Header */

/*inizio Main */

.lorem{
    font-size: 20px;
}



.highlight-text{
    background-color: yellow;
}

.img-footer{
    height: 30vh;
    width: 30vh;
    background-color: red;
    padding: 10px;
    color: white;
    font-size: 25px;
    font

}

.img1{
    margin: 10px;
    background-image: url("../img/monitor.jpg");
    background-size: cover;
    background-position: center;
}

.img2{
    margin: 10px;
    background-image: url("../img/graph.jpg");
    background-size: cover;
    background-position: center;
}